* {
    font-optical-sizing: auto;  
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('Nexa Bold.otf') format('opentype');
}

.menu-icon {
    display: none;
}

nav {
    width: 100%;
    background-color: #F44336;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

nav ul li {
    list-style: none;
    margin: 20px;
    color: white;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;  
    font-style: normal;
    font-size: large;
}

nav ul li a {
    text-decoration: none;
    color: white; 
}

nav .logoNav {
    width: 10%;
}

.logoNav2 {
    display: none;
}

/* Footer */

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
  }

.footerNoticias {
  position: relative;
  bottom: -100px;
}

footer p{
    color: white;
}

footer h3 {
    color: white;
    margin: 35px 0px 20px 0px;
}
  
.redes {
  display: flex;
  text-align: center;
  width: 250px;
  margin: 10px 0px 20px 0px;
}
.redes div {
  width: 200px;
}
.redes img {
  width: 40%;
}

.redes img:hover {
    transform: scale(1.2);
}

.textoFooter {
    text-align: center;
    margin-bottom: 20px;
}

@media (max-width: 640px) {
    
    header {position: fixed;
        width: 100%;
        z-index: 3;
        top: 0;
    }

    nav {
      width: 90%;
      background-color: #F44336;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 80px;
      padding: 0 20px;
      z-index: 9;
    }
    nav .menu-icon {
      display: block;
    }
    nav ul {
      display: none; /* Oculta el menú */
      flex-direction: column;
      width: 103%;
      text-align: center;
      background-color: black;
      position: absolute;
      top: 80px;
      left: 0;
    }
    nav ul.show {
      display: flex; /* Muestra el menú cuando se haga clic */
      z-index: 3;
    }
    nav ul li {
      margin: 10px 0;
    }

    nav ul .logoNav {
        display: none;
    }

    nav .logoNav2 {
        width: 50%;
        display: block;
        margin: 60px;
    }

    .navAboutUs {
      width: 100%;
      background-color: #F44336;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 80px;
      padding: 0 20px;
      z-index: 9;
    }

    .navServicios {
      width: 100%;
      background-color: #F44336;
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      height: 80px;
      padding: 0 20px;
      z-index: 9;
    }

    .navServicios ul {
      flex-direction: column;
      width: 100%;
      text-align: center;
      background-color: black;
      position: absolute;
      top: 64px;
      left: 0;
      padding: 5px;
    }

    footer {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      background-color: black;
      position: relative;
      z-index: 10;
  }

    .footerNoticias {
      bottom: -100px;
    }
  }