* {
    margin: 0px;
    padding: 0px;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('Nexa Bold.otf') format('opentype');
}

body {
    background-color: #902407;
    font-family: 'Roboto', sans-serif;
}

.cabezera {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logOjo {
    width: 20%;
}

.textoCab {
    width: 40%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #f9c60e;
    font-size: 40px;
    margin: 0px;
}

h3 {
    font-size: 30px;
    margin-top: 0px;
    color: white;
}

.planes {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -50px 0px 80px 0px;
}

.card-header {
    background: linear-gradient(90deg, #3c0762, #ff00e5);
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    width: 40%;
    z-index: 1;
    position: relative;
    left: 95px;
    height: 29px;
    top: 40px;
    align-content: center;
    font-size: 20px;
  }

  .card-header-equipo {
    background: linear-gradient(90deg, #3c0762, #ff00e5);
    border-radius: 30px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
    width: 40%;
    z-index: 1;
    position: relative;
    left: 95px;
    height: 29px;
    top: 40px;
    align-content: center;
    font-size: 20px;
  }

.contPlan {
    text-align: center;
}

.plan {
    width: 70%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    color: white;
    border: solid white 1px;
    border-radius: 30px;
    background-color: transparent; 
    box-shadow: inset 90px -50px 50px -40px #ffffff8f;
}

.planEstandar {
    width: 70%;
    height: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    color: white;
    border: solid white 1px;
    border-bottom: none;
    border-radius: 30px 30px 0px 0px;
    background-color: transparent;
    box-shadow: inset 90px -50px 50px -40px #ffffff8f;
}

.planEquipo {
    width: 70%;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
    color: white;
    border-left: solid white 1px;
    border-right: solid white 1px;
    background-color: transparent;
    box-shadow: inset 90px -50px 50px -40px #ffffff8f;
}
/* Efecto de tambaleo */
@keyframes tambalear {
    0%, 100% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(-5deg);
    }
    50% {
        transform: rotate(5deg);
    }
    75% {
        transform: rotate(-5deg);
    }
}

.plan, .planEstandar, .planEquipo {
    animation: tambalear 0.5s ease-in-out 5; /* Repite 5 veces */
    animation-delay: 1s; /* Retraso de 3 segundos entre cada repetición */
}

ul {
    text-align: center;
    padding: 10px;
}

li {
    margin: 15px;
    font-size: 20px;
    font-family: 'Nexa', sans-serif;
    font-weight: normal;
}

.precio {
    text-align: center;
    margin-top: 30px;
}

span {
    font-size: 20px;
}

h1 {
    font-size: 50px;
    /*box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;*/
}

.inscripcion {
    background: white;
    color: black;
    width: 70%;
    height: 50px;
    font-size: 25px;
    border-radius: 40px;
    border: none;
    right: 20px;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    
    .cabezera {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 7em;
    }

    .logOjo {
        display: none;
    }

    .textoCab {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        padding: 10px;
        margin: 20px;
        width: auto;
    }

    .planes {
        display: flex;
        margin: 0px 45px;
        flex-direction: column;
        align-items: center;
    }

    .card-header {
        width: 50%;
        left: 65px;
        align-content: center;
        font-size: 22px;
        height: 30px;
    }
    
    .contPlan{
        margin-bottom: 60px;
    }

    .planEstandar {
        border-bottom: 0;
        border-radius: 30px;
    }

    .planEquipo {
        width: 70%;
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
        padding: 20px;
        color: white;
        border: solid white 1px;
        border-radius: 30px;
        background-color: transparent;
        box-shadow: inset 90px -50px 50px -40px #ffffff8f;
    }

    .card-header-equipo{
        width: 50%;
        left: 65px;
        align-content: center;
        font-size: 22px;
        height: 30px;
    }

    .inscripcion{
        right: 5px;
    }
}