/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Nexa';
    src: url('Nexa Bold.otf') format('opentype');
    font-weight: bold; /* Especifica que esta es la versión en negrita */
}

@font-face {
    font-family: 'Nexa';
    src: url('Nexa Light.otf') format('opentype');
    font-weight: normal; /* Especifica que esta es la versión normal (light) */
}

body {
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    margin: 50px !important;
    font-size: 40px;
}

h2 {
    font-size: 30px;
    color: #f44336;
    border-bottom: 2px solid #f44336;
    padding-bottom: 10px;
    padding-left: 0px;
    margin: 20px 30px 0px 40px;
}

/* Animaciones */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeInUp 1s ease-out forwards;
}

.fade-in.delay-1 {
    animation-delay: 0.3s;
}

.fade-in.delay-2 {
    animation-delay: 0.6s;
}

.fade-in.delay-3 {
    animation-delay: 0.9s;
}

.fade-in.delay-4 {
    animation-delay: 1.2s;
}

.fade-in.delay-5 {
    animation-delay: 1.5s;
}

/* Sección de Historia */
.contHistoria {
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 20px;
    color: #fff;
    position: relative;
    margin-bottom: 50px;
}

.contHistoria::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0 0 0 / 85%);
    z-index: 1;
}

.contHistoria * {
    position: relative;
    z-index: 2;
}

.contenido {
    display: flex;
    margin-bottom: 50px;
}

.texto {
    width: 360%;
}

article {
    width: 100%;
    margin-right: 20px;
    padding: 40px;
}

article p {
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20px;
    font-family: 'Nexa', sans-serif;
    font-weight: normal;
}

.imgHistoria {
    width: 85%;
    margin: 50px 20px 0px 20px;
}

.imgHistoriaRespon {
    display: none;
}

#carouselExampleSlidesOnly2 {
    display: none;
}

#logros1 {
    display: block;
}

#logros2 {
    display: none;
}
/* Contenedor principal de la línea de tiempo */
.timeline {
    position: relative;
    padding: 100px 0px 0px;
}

/* Línea central de la línea de tiempo */
.timeline::after {
    content: '';
    position: absolute;
    height: 6px;
    background-color: #f44336;
    top: 43%;
    left: 2%;
    right: 0;
    transform: translateY(-50%);
    border-radius: 3px;
    z-index: -1;
    width: 98%;
}

/* Cada elemento de la línea de tiempo */
.timeline-item {
    display: inline-block; /* Hace que los elementos se alineen horizontalmente */
    margin: 0 20px; /* Espaciado entre elementos */
    position: relative;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    flex-shrink: 0; /* Evita que los elementos se reduzcan */
}

/* Alternar posición de las cajas */
.timeline-item:nth-child(odd) {
    top: -1px; /* Mueve las cajas impares hacia arriba */
}

.timeline-item:nth-child(even) {
    top: 0px; /* Mueve las cajas pares hacia abajo */
}

/* Puntos de la línea de tiempo */
.timeline-item::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: 4px solid #f44336;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1;
}

/* Contenido de cada elemento */
.timeline-content {
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden; /* Evita que el contenido se desborde */
    height: auto; /* Ajusta la altura automáticamente */
    min-height: 150px; /* Altura mínima para evitar cajas muy pequeñas */
    display: flex;
    justify-content: flex-start;
}

/* Efecto hover en el contenido */
.timeline-content:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Título de cada elemento */
.timeline-content span {
    color: #f44336;
    margin-bottom: 10px;
    font-size: 20px; /* Tamaño del título */
}

/* Lista de logros */
.timeline-content ul {
    list-style-type: none; /* Quita los puntos de la lista */
    padding: 0;
    margin: 0;
}

.timeline-content li {
    font-size: 14px; /* Reduce el tamaño de la fuente */
    line-height: 1.4;
    color: #333;
    margin-bottom: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
}

/* Mostrar elementos con animación */
.timeline-item.visible {
    opacity: 1;
}

.prueba {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 60px;
}

.prueba::after {
    content: '';
    position: absolute;
    height: 6px;
    background-color: #f44336;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    border-radius: 3px;
    z-index: -1;
    width: 54.8%;
}

.figura {
    width: 100%;
    height: 155px;
    z-index: 1;
    position: fixed;
    top: 233px;
    border-right: #f44336 8px solid;
}

/* Botón de inscripción */
.btn-inscribirse {
    display: inline-block;
    margin: 20px 30px;
    padding: 10px 20px;
    background-color: #0073e6;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-inscribirse:hover {
    background-color: #005bb5;
}

/* Sección de Instalaciones */
.lugar {
    text-align: center;
    margin-bottom: 40px;
}

.parque {
    width: 80%;
    margin: 50px 20px 30px 20px;
}


/* Sección de Entrenadores */
.entrenadores {
    display: flex;
    flex-wrap: wrap;
    margin: 60px 0px 60px 0px;
    width: 100%;
    justify-content: center;
}

.contEntrenador {
    text-align: center;
    width: 410px;
    padding: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contEntrenador:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.contEntrenador p {
    font-family: 'Nexa', sans-serif;
    font-weight: normal;
}

.imagenTrainer {
    width: 60%;
    border-radius: 170px;
}

h4 {
    font-size: x-large;
    margin: 15px 0px 15px;
}

/* Sección de Valores */
#mision p {
    padding: 40px;
    text-align: justify;
    font-size: 1.1em;
    font-family: 'Nexa', sans-serif;
    font-weight: normal;
}

.valores {
    padding: 20px;
}

.valores ul {
    list-style-type: none;
    padding: 0;
}

.valores ul li {
    margin: 15px 0;
    font-size: 1.1em;
    padding-left: 30px;
    position: relative;
    font-family: 'Nexa', sans-serif;
    font-weight: normal;
}

.valores ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: cover;
}

.valores ul li:nth-child(1)::before {
    background-image: url('./images/icono-disciplina.png'); /* Icono personalizado */
}

.valores ul li:nth-child(2)::before {
    background-image: url('./images/icono-respeto.png'); /* Icono personalizado */
}

.map-container {
    width: 100%;
    max-width: 800px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    border: 2px solid #f44336;
    border-radius: 10px;
    overflow: hidden;
}

.map-container iframe {
    width: 100%;
    height: 400px; /* Ajusta la altura según tus necesidades */
    border: 0;
}

/* Estilos para el modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: auto;
}

.modal-contenido {
    background-color: #fff;
    margin: 5% auto;
    padding: 30px;
    border-radius: 15px;
    width: 85%;
    max-width: 600px;
    position: relative;
    animation: fadeIn 0.3s ease-out;
}

.modal-contenido h2 {
    font-size: 30px;
    color: #f44336;
    border-bottom: 2px solid #f44336;
    padding-bottom: 10px;
    padding-left: 0px;
    margin: 0px;
}

.modal-contenido h3 {
    font-size: x-large;
    margin: 20px;
    width: 95%;
    text-align: center;
}

.modal-contenido p,li {
    font-family: 'Nexa', sans-serif;
    font-weight: normal;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s;
}

.cerrar:hover {
    color: #0073e6;
}

.imagenTrainer-modal {
    width: 50%;
    border-radius: 50%;
    margin: 15px auto;
    display: block;
}

/* --- Modal Linea De Tiempo --- */

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
}

.modal-content ul {
    list-style-type: disc; /* Viñetas redondas */
    padding-left: 20px; /* Espaciado para las viñetas */
}

.modal-content li {
    font-size: 16px; /* Tamaño de la fuente */
    line-height: 1.6; /* Espaciado entre líneas */
    color: #333; /* Color del texto */
    margin-bottom: 10px; /* Espaciado entre elementos de la lista */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

@media (max-width: 640px) {

    body {
        margin-top: 100px;
    }

    h1 {
        text-align: center;
        margin: 130px 0px 50px 0px !important;
        font-size: 40px;
    }

    .contenido {
        display: flex;
        margin-bottom: 50px;
        flex-direction: column;
    }

    .texto {
        width: 100%;
    }

    article {
        width: 100%;
        margin-right: 20px;
        padding: 10px;
    }

    .imgHistoria {
        display: none;
    }

    .imgHistoriaRespon {
        width: 103%;
        margin: 0px 0px 20px 0px;
        display: block;
    }

    #carouselExampleSlidesOnly2 {
        display: block !important;
    }

    #carouselExampleSlidesOnly {
        display: none !important;
    }

    h2 {
        font-size: 30px;
        color: #f44336;
        border-bottom: 2px solid #f44336;
        padding-bottom: 15px;
        padding-left: 0px;
        margin: 30px 8px 0px 8px;
    }

    #logros1 {
        display: none;
    }
    
    #logros2 {
        display: block;
    }

    .timeline {
        position: relative;
        padding: 30px 0px 0px;
    }

    .timeline-content {
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
        min-height: 100px;
        display: flex;
        justify-content: flex-start;
    }

    .timeline-item {
        margin: 0;
    }

    .timeline-item::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        background-color: #fff;
        border: 4px solid #f44336;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        z-index: 1;
    }

    .timeline::after {
        content: '';
        position: absolute;
        height: 6px;
        background-color: #f44336;
        top: 16.9%;
        left: 2%;
        right: 0;
        transform: translateY(-50%);
        border-radius: 3px;
        z-index: -1;
        width: 93%;
    }

    .figura {
        width: 100%;
        height: 100px;
        z-index: 1;
        position: fixed;
        top: 145px;
        right: 16px;
        border-right: #f44336 8px solid;
    }

    .figura2 {
        width: 100%;
        height: 100px;
        z-index: 1;
        position: fixed;
        top: 245px;
        right: 307px;
        border-right: #f44336 8px solid;
    }

    .figura3 {
        width: 100%;
        height: 100px;
        z-index: 1;
        position: fixed;
        top: 344px;
        right: 15px;
        border-right: #f44336 8px solid;
    }

    .figura4 {
        width: 100%;
        height: 100px;
        z-index: 1;
        position: fixed;
        top: 445px;
        right: 307px;
        border-right: #f44336 8px solid;
    }

    .timeline-row {
        position: relative;
    }
    
    .timeline-row::after {
        content: '';
        position: absolute;
        height: 6px;
        background-color: #f44336;
        top: 60%;
        left: 2%;
        right: 0;
        transform: translateY(-50%);
        border-radius: 3px;
        z-index: -1;
        width: 93%;
    }

    .modal-content {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        pointer-events: auto;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
        outline: 0;
        top: 20%;
    }
    

    #mision p {
        padding: 10px;
        text-align: justify;
        font-size: 20px;
        font-family: 'Nexa', sans-serif;
        font-weight: normal;
    }

    .valores {
        right: 20px;
        padding: 0px;
    }

    .parque {
        width: 90%;
        margin: 20px 20px 30px 20px;
    }

    .map-container {
        width: 90%;
        height: 400px;
        /* max-width: 800px; */
        margin: 0 auto;
        border: 2px solid #f44336;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .lugar h3 {
        margin: 30px;
        font-size: 20px;
    }

    .imagenTrainer {
        width: 80%;
        border-radius: 170px;
    }

    .imagenTrainer-modal {
        width: 100%;
    }

    .modal-contenido h3 {
        font-size: x-large;
        margin: 20px;
        text-align: center;
        width: auto;
    }
}

